/* Color Palette Notes
base = base color, main page background
mantle = ribbon and nav bar color
crust = file navigator background color
surface = active pane background color
mountain = text color
peak = accent color
rainbow color names based on meanings of colored maneki-neko in Japanese culture
*/

.theme-light, .theme-dark {
	--mn-protection: #c04d35;
	--mn-prosperity: #cb9407;
	--mn-success: #fdc623;
	--mn-safety: #9aba25;
	--mn-friendship: #009688;
	--mn-wisdom: #2196f3;
	--mn-victorious: #3f51b5;
	--mn-longevity: #673ab7;
	--mn-love: #ec79ce;
	/* accents */
	--mn-red: #a7442f;
	--mn-goldenrod: #dfa91e;
	--mn-teal: #00695f;
	--mn-sky: #71baf6;
	--mn-lavender: #b59ede;
	--mn-rose: #f4b5e3;
	/* RGB */
	--mn-protection-rgb: 192, 77, 53;
	--mn-prosperity-rgb: 203, 148, 7;
	--mn-success-rgb: 253, 198, 35;
	--mn-safety-rgb: 154, 186, 37;
	--mn-friendship-rgb: 0, 150, 136;
	--mn-wisdom-rgb: 33, 150, 243;
	--mn-victorious-rgb: 63, 81, 181;
	--mn-longevity-rgb: 103, 58, 183;
	--mn-love-rgb: 236, 121, 206;
	--mn-red-rgb: 167, 68, 47;
	--mn-goldenrod-rgb: 223, 169, 30;
	--mn-teal-rgb: 0, 105, 95;
	--mn-sky-rgb: 113, 186, 246;
	--mn-lavender-rgb: 181, 158, 222;
	--mn-rose-rgb: 244, 181, 227;
	/* "Color" Variables */
	--color-red: var(--mn-protection);
	--color-orange: var(--mn-prosperity);
	--color-yellow: var(--mn-goldenrod)
	--color-green: var(--mn-safety);
	--color-cyan: var(--mn-friendship);
	--color-blue: var(--mn-wisdom);
	--color-purple: var(--mn-longevity);
	--color-pink: var(--mn-love);
	--color-red-rgb: var(--mn-protection-rgb);
	--color-orange-rgb: var(--mn-prosperity-rgb);
	--color-yellow-rgb: var(--mn-goldenrod-rgb);
	--color-green-rgb: var(--mn-safety-rgb);
	--color-cyan-rgb: var(--mn-friendship-rgb);
	--color-blue-rgb: var(--mn-wisdom-rgb);
	--color-purple-rgb: var(--mn-longevity-rgb);
	--color-pink-rgb: var(--mn-love-rgb);
}

.theme-light {
	--mn-base: #f2e2ca;
	--mn-base-rgb: 242, 226, 202;
	--mn-mantle: #c0a283;
	--mn-mantle-rgb: 192, 162, 131;
	--mn-crust: #cb9047;
	--mn-crust-rgb: 203, 144, 71;
	--mn-surface: #a3735c;
	--mn-surface-rgb: 163, 115, 92;
	--mn-mountain: #4e4d4a;
	--mn-mountain-rgb: 78, 77, 74;
	--mn-peak: #c04d35;
	--mn-peak-rgb: 192, 77, 53;

}

.theme-dark{
	--mn-base: #2f2f2f;
	--mn-base-rgb: 47, 47, 47;
	--mn-mantle: #000000;
	--mn-mantle-rgb: 0, 0, 0;
	--mn-crust: #1a1a1a;
	--mn-crust-rgb: 26, 26, 26;
	--mn-surface: #4e4d4a;
	--mn-surface-rgb: 78, 77, 74;
	--mn-mountain: #ecdcc3;
	--mn-mountain-rgb: 236, 220, 195;
	--mn-peak: #c04d35;
	--mn-peak-rgb: 192, 77, 53;
}

/* Selecting Accents */
.mn-full-palette {
	--mn-accent: var(--mn-peak);
}

.mn-accent-protection {
	--mn-accent: var(--mn-protection);
}

.mn-accent-prosperity {
	--mn-accent: var(--mn-prosperity);
}

.mn-accent-success {
	--mn-accent: var(--mn-success);
}

.mn-accent-safety {
	--mn-accent: var(--mn-safety);
}

.mn-accent-friendship {
	--mn-accent: var(--mn-friendship);
}

.mn-accent-wisdom {
	--mn-accent: var(--mn-wisdom);
}

.mn-accent-victorious {
	--mn-accent: var(--mn-victorious);
}

.mn-accent-longevity {
	--mn-accent: var(--mn-longevity);
}

.mn-accent-love {
	--mn-accent: var(--mn-love);
}

.mn-accent-red {
	--mn-accent: var(--mn-red);
}

.mn-accent-goldenrod {
	--mn-accent: var(--mn-goldenrod);
}

.mn-accent-teal {
	--mn-accent: var(--mn-teal);
}

.mn-accent-sky {
	--mn-accent: var(--mn-sky);
}

.mn-accent-lavender {
	--mn-accent: var(--mn-lavender);
}

.mn-accent-rose {
	--mn-accent: var(--mn-rose);
}
