/* Maneki Neko Color Palette and Theme Color Variables */
.theme-light, .theme-dark {
	--mn-protection: #c04d35;
	--mn-prosperity: #cb9407;
	--mn-success: #fdc623;
	--mn-safety: #9aba25;
	--mn-friendship: #009688;
	--mn-wisdom: #2196f3;
	--mn-victorious: #3f51b5;
	--mn-longevity: #673ab7;
	--mn-love: #ec79ce;
	--mn-red: #a7442f;
	--mn-ginger: #ffa500;
	--mn-goldenrod: #dfa91e;
	--mn-teal: #00695f;
	--mn-sky: #71baf6;
	--mn-lavender: #b59ede;
	--mn-rose: #f4b5e3;
	--mn-protection-rgb: 192, 77, 53;
	--mn-prosperity-rgb: 203, 148, 7;	
	--mn-success-rgb: 253, 198, 35;
	--mn-safety-rgb: 154, 186, 37;
	--mn-friendship-rgb: 0, 150, 136;
	--mn-wisdom-rgb: 33, 150, 243;
	--mn-victorious-rgb: 63, 81, 181;
	--mn-longevity-rgb: 103, 58, 183;
	--mn-love-rgb: 236, 121, 206;
	--mn-red-rgb: 167, 68, 47;
	--mn-ginger-rgb: 255, 165, 0;
	--mn-goldenrod-rgb: 223, 169, 30;
	--mn-teal-rgb: 0, 105, 95;
	--mn-sky-rgb: 113, 186, 246;
	--mn-lavender-rgb: 181, 158, 222;
	/* "Color" Variables */
	--color-red: var(--mn-protection);
	--color-orange: var(--mn-prosperity);
	--color-yellow: var(--mn-success);
	--color-green: var(--mn-safety);
	--color-cyan: var(--mn-friendship);
	--color-blue: var(--mn-wisdom);
	--color-purple: var(--mn-longevity);
	--color-pink: var(--mn-love);
	--color-red-rgb: var(--mn-protection-rgb);
	--color-orange-rgb: var(--mn-prosperity-rgb);
	--color-yellow-rgb: var(--mn-goldenrod-rgb);
	--color-green-rgb: var(--mn-safety-rgb);
	--color-cyan-rgb: var(--mn-friendship-rgb);
	--color-blue-rgb: var(--mn-wisdom-rgb);
	--color-purple-rgb: var(--mn-longevity-rgb);
	--color-pink-rgb: var(--mn-love-rgb);
}

.theme-light {
	--mn-text: #2b1e18;
	--mn-subtext: #493329;
	--mn-base: #f2e2ca;
	--mn-mantle: #c0a283;
	--mn-crust: #cb9047;
	--mn-overlay2: #d8bfa8;
	--mn-overlay1: #c9ad97;
	--mn-overlay0: #bb9c85;
	--mn-surface2: #ad8a74;
	--mn-surface1: #a37d68;
	--mn-surface0: #926752;
	--mn-mountain: #d9725c;
	--mn-peak: #c04d35;
	--mn-text-rgb: 43, 30, 24;
	--mn-subtext-rgb: 73, 51, 41;
	--mn-base-rgb: 242, 226, 202;
	--mn-mantle-rgb: 192, 162, 131;
	--mn-crust-rgb: 203, 144, 71;
	--mn-overlay2-rgb: 216, 191, 168;
	--mn-overlay1-rgb: 201, 173, 151;
	--mn-overlay0-rgb: 187, 156, 133;
	--mn-surface2-rgb: 173, 138, 116;
	--mn-surface1-rgb: 163, 125, 104;
	--mn-surface0-rgb: 146, 103, 82;
	--mn-mountain-rgb: 217, 114, 92;
	--mn-peak-rgb: 192, 77, 53;
}

.theme-dark{
	--mn-text: #ecdcc3;
	--mn-subtext: #d4ba93;
	--mn-base: #2f2f2f;
	--mn-mantle: #1c1c1c;
	--mn-crust: #000000;
	--mn-surface2: #5f5f5f;
	--mn-surface1: #4e4e4e;
	--mn-surface0: #3c3c3c;
	--mn-overlay2: #aca08e;
	--mn-overlay1: #81786a;
	--mn-overlay0: #6b6459;
	--mn-mountain: #d9725c;
	--mn-peak: #c04d35;
	--mn-text-rgb: 236, 220, 195;
	--mn-subtext-rgb: 212, 186, 147;
	--mn-base-rgb: 47, 47, 47;
	--mn-mantle-rgb: 28, 28, 28;
	--mn-crust-rgb: 0, 0, 0;
	--mn-surface2-rgb: 95, 95, 95;
	--mn-surface1-rgb: 78, 78, 78;
	--mn-surface0-rgb: 60, 60, 60;
	--mn-overlay2-rgb: 172, 160, 142;
	--mn-overlay1-rgb: 129, 120, 106;
	--mn-overlay0-rgb: 107, 100, 89;
	--mn-mountain-rgb: 217, 114, 92;
	--mn-peak-rgb: 192, 77, 53;
}

/* Selecting Accents */

body {
	--mn-accent: rgb(var(--mn-accent-rgb));
}

body,
.mn-accent-protection {
	--mn-accent-rgb: var(--mn-protection-rgb);
}

.mn-accent-prosperity {
	--mn-accent-rgb: var(--mn-prosperity-rgb);
}

.mn-accent-success {
	--mn-accent-rgb: var(--mn-success-rgb);
}

.mn-accent-safety {
	--mn-accent-rgb: var(--mn-safety-rgb);
}

.mn-accent-friendship {
	--mn-accent-rgb: var(--mn-friendship-rgb);
}

.mn-accent-wisdom {
	--mn-accent-rgb: var(--mn-wisdom-rgb);
}

.mn-accent-victorious {
	--mn-accent-rgb: var(--mn-victorious-rgb);
}

.mn-accent-longevity {
	--mn-accent-rgb: var(--mn-longevity-rgb);
}

.mn-accent-love {
	--mn-accent-rgb: var(--mn-love-rgb);
}

.mn-accent-red {
	--mn-accent-rgb: var(--mn-red-rgb);
}

.mn-accent-ginger {
	--mn-accent-rgb: var(--mn-ginger-rgb);
}

.mn-accent-goldenrod {
	--mn-accent-rgb: var(--mn-goldenrod-rgb);
}

.mn-accent-teal {
	--mn-accent-rgb: var(--mn-teal-rgb);
}

.mn-accent-sky {
	--mn-accent-rgb: var(--mn-sky-rgb);
}

.mn-accent-lavender {
	--mn-accent-rgb: var(--mn-lavender-rgb);
}

.mn-accent-rose {
	--mn-accent-rgb: var(--mn-rose-rgb);
}
