/* ACTUAL CONFIGS */
/* setting colors */
.theme-dark,
.theme-light {
  --background-primary: var(--mn-base);
  --background-primary-rgb: var(--mn-base-rgb);
  --background-primary-alt: var(--mn-crust);
  --background-secondary: var(--mn-crust);
  --background-secondary-alt: var(--mn-mantle);
  --background-modifier-border: var(--mn-surface0);
  --background-modifier-form-field: rgb(var(--mn-surface0), 30%);
  --background-modifier-form-field-highlighted: rgb(var(--mn-surface0), 22%);
  --background-modifier-box-shadow: rgb(var(--mn-crust), 30%);
  --background-modifier-success: rgb(var(--mn-safety), 90%);
  --background-modifier-success-rgb: var(--mn-safety-rgb);
  --background-modifier-error: rgb(var(--mn-red), 90%);
  --background-modifier-error-rgb: var(--mn-red-rgb);
  --background-modifier-error-hover: rgb(var(--mn-red), 100%);
  --background-modifier-cover: rgb(var(--mn-crust), 90%);
  --color-accent: var(--mn-accent);
  --color-accent-1: var(--mn-accent);
  --color-accent-2: rgb(var(--mn-accent), 90%);
  --text-accent: var(--mn-accent);
  --text-accent-hover: var(--mn-accent);
  --text-normal: var(--mn-text);
  --text-muted: var(--mn-subtext2);
  --text-muted-rgb: var(--mn-subtext2-rgb);
  --text-faint: var(--mn-surface1);
  --text-error: var(--mn-red);
  --text-error-hover: rgb(var(--mn-red), 80%);
  --text-highlight-bg: rgb(var(--mn-accent), 100%);
  --text-highlight-bg-active: rgb(var(--mn-accent), 100%);
  --text-selection: rgb(var(--mn-accent), 30%);
  --text-on-accent: var(--mn-mantle);
  --text-on-accent-inverted: var(--mn-mantle);
  --interactive-normal: var(--mn-surface0);
  --interactive-hover: var(--mn-surface1);
  --interactive-accent: var(--mn-accent);
  --interactive-accent-rgb: var(--mn-accent-rgb);
  --interactive-accent-hover: var(--mn-accent);
  --interactive-success: var(--mn-safety);
  --scrollbar-active-thumb-bg: rgb(var(--mn-text), 20%);
  --scrollbar-bg: rgb(var(--mn-text), 5%);
  --scrollbar-thumb-bg: rgb(var(--mn-text), 10%);
  --mono-rgb-0: var(--mn-crust);
  --mono-rgb-100: var(--mn-text);
	/*color bases*/
  --color-base-00: var(--mn-crust);
  --color-base-10: var(--mn-mantle);
  --color-base-20: var(--mn-base);
  --color-base-25: var(--mn-surface0);
  --color-base-30: var(--mn-surface1);
  --color-base-35: var(--mn-surface2);
  --color-base-40: var(--mn-overlay0);
  --color-base-50: var(--mn-overlay1);
  --color-base-60: var(--mn-overlay2);
  --color-base-70: var(--mn-subtext);
  --color-base-100: var(--mn-text);
}

/* color scheme lighten and darken */
.theme-dark {
	color-scheme: dark;
	--highlight-mix-blend-mode: lighten;
}

.theme-light {
	color-scheme: light;
	--highlight-mix-blend-mode: darken;
}


/* fonts */
body {
	--font-interface-theme:
		"Fuzzy Bubbles",
		"Holiday MDJP05",
		"Inter",
		sans-serif;
	--font-text-theme:
		"Fuzzy Bubbles",
		"Holiday MDJP05",
		"Inter",
		sans-serif;
}

strong,
.cm-strong,
.cm-s-obsidian span.cm-formatting-strong,
.cm-s-obsidian span.cm-strong {
	--bold-color: var(--mn-bold, var(--mn-wisdom));
	color: var(--mn-bold, var(--mn-wisdom));
}

em,
.cm-em {
	--italic-color: var(--mn-italic, var(--mn-protection));
	color: var(--mn-italic, var(--mn-protection));
}

.cm-strong.cm-em, strong > em, em > strong {
  --bolditalic-color: var(--mn-bolditalic, var(--mn-victorious));
	color: var(--mn-bolditalic, var(--mn-victorious));
}

del,
.cm-strikethrough {
	--strikethrough-color: var(--mn-strikethrough, var(--mn-longevity));
	color: var(--mn-strikethrough, var(--mn-longevity));
}

.cm-strikethrough {
	text-decoration: line-through;
}

/* heading styles */
.inline-title {
	--heading-color: var(--mn-peak);
	color: var(--mn-peak);
}

h1,
.cm-header.cm-header-1 {
	--h1-color: var(--mn-h1, var(--mn-accent));
	color: var(--mn-h1, var(--mn-accent));
}

h2,
.cm-header.cm-header-2 {
	--h2-color: var(--mn-h2, var(--mn-accent));
	color: var(--mn-h2, var(--mn-accent));
}

h3,
.cm-header.cm-header-3 {
	--h3-color: var(--mn-h3, var(--mn-accent));
	color: var(--mn-h3, var(--mn-accent));
}

h4,
.cm-header.cm-header-4 {
	--h4-color: var(--mn-h4, var(--mn-accent));
	color: var(--mn-h4, var(--mn-accent));
}

h5,
.cm-header.cm-header-5 {
	--h5-color: var(--mn-h5, var(--mn-accent));
	color: var(--mn-h5, var(--mn-accent));
}

h6,
.cm-header.cm-header-6 {
	--h6-color: var(--mn-h6, var(--mn-accent));
	color: var(--mn-h6, var(--mn-accent));
}

/* tooltip styles */
.tooltip {
	border: 1px solid var(--mn-surface);
	background-color: var(--background-secondary);
	box-shadow: 0 0 3px var(--mn-mantle);
	color: var(--mn-peak);
}

body {
  /* bold, italic, strikethrough styles */
  --bold-color: var(--mn-bold, var(--mn-wisdom));
  --italic-color: var(--mn-italic, var(--mn-protection));
  --strikethrough-color: var(--mn-strikethrough, var(--mn-longevity));
	/*list styles */
	--list-indent: calc(var(--indent-unit) * var(--indent-size));
	--list-indent-editing: calc(var(--indent-unit) * var(--indent-size));
	--list-indent-source: 0;
	--list-spacing: 0.075em;
	--list-marker-color: var(--mn-accent, var(--mn-peak));
	--list-marker-color-hover: var(--mn-accent, var(--mn-peak));
	--list-marker-color-collapsed: var(--mn-accent, var(--mn-peak));
	--list-bullet-border: none;
	--list-bullet-radius: 50%;
	--list-bullet-size: 0.3em;
	--list-bullet-transform: none;
	--list-numbered-style: decimal;
	--list-bullet-end-padding: 1.3em;
	/* blockquote styles */
	--blockquote-border-thickness: 2px;
	--blockquote-border-color: var(--mn-accent, var(--mn-friendship));
	--blockquote-font-style: normal;
	--blockquote-color: inherit;
	--blockquote-background-color: transparent;
	/* link styles */
	--link-color: var(--mn-friendship);
	--link-color-hover: var(--mn-friendship);
	--link-unresolved-color: var(--mn-teal);
	--link-external-color: var(--mn-wisdom);
	/* tag styles */
  --tag-size: var(--font-smaller);
  --tag-color: var(--text-accent);
  --tag-color-hover: var(--text-accent);
	--tag-decoration: none;
  --tag-decoration-hover: none;
  --tag-background: rgb(var(--mn-accent), 10%);
  --tag-background-hover: rgb(var(--mn-accent), 20%);
  --tag-border-color: transparent;
  --tag-border-color-hover: var(--mn-accent);
  --tag-border-width: 0px;
  --tag-padding-x: 7px;
  --tag-padding-y: 3px;
  --tag-radius: 13px;
  --tag-weight: inherit;
}

/* horizontal rule styles */
/* original code from @imrudex on in the Obsidian Members Discord*/
.markdown-source-view hr,
.markdown-preview-view hr {
  margin-block-start: 2em;
  margin-block-end: 2em;
  border: none;
  height: 3px;
  background-image: linear-gradient(to right, var(--background-primary), var(--mn-accent) , var(--background-primary));
  position: relative;
  overflow: visible;
}

.markdown-source-view hr::before, 
.markdown-preview-view hr::before {
	/* TODO: add SVG icon instead of kaomoji
  mask-image: var(--mnicon);
	mask-size: 69%;
	*/
	content: "   ฅ(ᵔ꒳ ᵔマ.ᐟ   " ;
  color: var(--mn-accent);
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  padding: none;
  background-color: var(--background-primary);
}
